# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env
.env.local

# PyInstaller
build/
dist/
*.spec

# macOS
.DS_Store
*.icns

# IDE
.vscode/
.idea/

# Temp / Build artifacts
pkg_build/
*.pkg
*.dmg
*.app
*.exe

# Logs
*.log
